<h1>New Place</h1>

<form action="/places" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <button type="submit">Add Place</button>
</form>

<a href="/places">Back to Places</a>